*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
data/boxersunrise.app/Contents/CodeResources
data/boxersunrise.app/Contents/_CodeSignature/CodeResources
.DS_Store
.vscode
.godot/
*.translation
*.os

